*.o
*.d
*.crf
*.dep
*.lnp
*.axf
*.htm
*.build_log.htm
*.map
*.lst
*.SCT
*.uvgui.*
*.uvguix.*
JLinkLog.txt
*.bak
*.l2p
MDK-ARM/Debug/
MDK-ARM/Release/
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/RTE/
.settings/
Debug/
Release/
.DS_Store
Thumbs.db
*.hex